@charset "utf-8";

* {
    box-sizing: border-box;
}

.custom-column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.custom-row:after {
    content: "";
    display: table;
    clear: both;
}

#file_upload_form {
    width: 32vw !important;
    top: 10% !important;
    left: 8% !important;
    position: fixed !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#files_div {
    overflow-y: auto !important;
    scroll-behavior: smooth;
}

#div_divider {
    position: fixed !important;
}

.file {
    width: 20rem !important;
    transition: all .2s;
    margin: 7px !important;
    height: 195px !important;
}

.file:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 3px #dfdfdf;
}

.file-icon {
    font-size: 1.8rem;
}

.center-align {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.right-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}

.preview {
    width: 200px;
}

.file-highlight {
    animation-name: highlight;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-duration: .5s;
}

@keyframes highlight {
    from {
        box-shadow: 0 0 14px 1px rgba(0, 150, 219, 0.75);
    }
    to {
        box-shadow: 0 0 14px 1px rgba(0, 227, 182, 0.75);
    }
}

@media screen and (max-width: 768px) {
    .custom-column {
        width: 100%;
        float: none;
    }

    #file_upload_form {
        position: relative !important;
        margin-top: 5vh;
        top: 0 !important;
        left: 0 !important;
    }

    #files_div {
    }

    #south_div {
        display: flex;
        align-items: center;
    }

    #div_divider {
        display: none;
    }

    .file {
        width: 25rem !important;
        font-size: 1.15rem !important;
    }
}
