html, body {
    scroll-behavior: smooth;
}

#file_upload_form {
    order: 1;
    width: 35vw !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#files_div {
    order: 2;
    width: 65vw !important;
}

.file {
    width: 22rem !important;
    transition: all .2s;
    margin: 15px !important;
}

.file:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 3px #dfdfdf;
}

.file-icon {
    font-size: 1.8rem;
}

.center-align {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.right-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}

.preview {
    width: 200px;
}

.file-highlight {
    animation-name: highlight;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
    transition: all .2s;
}

@keyframes highlight {
    from {
        box-shadow: 0 0 12px 0 rgba(52, 152, 227, 0.75);
        -webkit-box-shadow: 0 0 12px 0 rgba(52, 152, 227, 0.75);
        -moz-box-shadow: 0 0 12px 0 rgba(52, 152, 227, 0.75);
    }

    to {
        box-shadow: 0 0 12px 0 rgba(149, 204, 245, 0.75);
        -webkit-box-shadow: 0 0 12px 0 rgba(149, 204, 245, 0.75);
        -moz-box-shadow: 0 0 12px 0 rgba(149, 204, 245, 0.75);
    }
}
