<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
            integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
          integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>File Storage Service</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id='login_main_div'>
    <div id='login_form_div'>
        <div class='ui raised segment'>
            <div class="col text-center">
                File Storage Service
            </div>
            <div id='login_subject_div'>
                <p id='login_subject'>Login</p>
                <a class='custom_link' th:href="@{/sign-up/}" target="_self">Create account</a>
            </div>
            <hr/>
            <div th:if="${param.error}">
                <div class="ui error message login_form_message_div">
                    <h4 class="ui header">Invalid credentials</h4>
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="ui success message login_form_message_div">
                    <h4 class="ui header">You have been logged out</h4>
                </div>
            </div>
            <div th:if="${message}">
                <div class="ui success message login_form_message_div">
                    <h4 class="ui header" th:text="${message}"></h4>
                </div>
            </div>
            <form class='ui form' id='login_form' method="post" th:action="@{/authenticate}">
                <div class='required field' id='login_email_div'>
                    <label for='login_id'>Email</label>
                    <input type='text' class='ui input' id='login_id' name='email' required/>
                </div>
                <div class='required field' id='login_password_div'>
                    <label for='login_passphrase'>Password</label>
                    <div class='ui right icon input'>
                        <input type='password' class='ui input' id='login_passphrase' name='password'
                               required/>
                        <i id='password_toggle' class='eye link icon' onclick="handlePasswordVisibilityToggle()"></i>
                    </div>
                </div>
                <div id='login_actions_div'>
                    <button type='button' id='login_button' class='ui blue button'>
                        <i class='sign-in icon'></i>
                        Login
                    </button>
                    <div id='login_forgot_password_link'>
                        <a class='custom_link' th:href="@{/forgot-password/who}" target="_self">Forgot
                            password?</a>
                    </div>
                </div>
                <input type="hidden" id="recaptchaToken" name="recaptcha-token"/>
                <button type="button" class="g-recaptcha" hidden="hidden"></button>
            </form>
        </div>
    </div>
    <div id='login_copyright_div'>
        <p><strong><i class='copyright outline icon'></i><span
                th:text="${#dates.year(#dates.createNow())}"></span>, Crypt</strong></p>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/login.js}">
</script>
</body>
</html>
