<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/storage.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
            integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
          integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>File Storage Service</title>
</head>
<body>
<div class="ui placeholder segment">
    <div class="ui two column stackable center aligned grid">
        <div class="ui vertical divider"></div>
        <div class="middle aligned row">
            <div class="column">
                <form id="file_upload_form" class="ui form" th:object="${fileEntity}" th:action="@{/storage/}"
                      method="post"
                      enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="field">
                            <div class="center-align">
                                <img th:src="@{/images/file.png}" alt="file_preview" id="preview" class="preview"/>
                            </div>
                        </div>
                        <br>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    File name
                                </div>
                                <input type="text" placeholder="File Name" id="fileName"
                                       name="fileName" maxlength="50">
                            </div>
                        </div>
                        <div class="field">
                            <input type="file" class="ui input" id="multipartFile"
                                   name="multipartFile" size="10485760"
                                   required>
                            <div class="ui info message">
                                <div class="header">
                                    Maximum file size: 10 MB
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="field">
                        <div class="center-align">
                            <button type="submit" class="ui teal button">
                                <i class="fas fa-upload"></i>
                                Upload
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <div id="files_div">
                    <div th:each="file : ${files}">
                        <div class="ui raised segment file">
                            <div>
                                <p>
                        <span class="file-icon">
                            <i class="fas fa-file"></i>
                        </span>
                                    <span th:text="${file.fileName}"></span>
                                </p>
                                <small><strong>Size: </strong><span th:text="${file.fileSize}"></span> <span
                                        th:text="${file.fileSizeUnit}"></span>
                                    <br>
                                    <span><strong>Uploaded on: </strong><span
                                            th:text="${#temporals.format(file.uploadedOn, 'yyyy-MM-dd hh:mm:ss a')}"></span></span>
                                </small>
                            </div>
                            <div class="ui dividing header"></div>
                            <div class="right-align">
                                <a th:href="@{/storage/{id}(id=${file.id})}" target="_blank"
                                   class="ui blue button">
                                    <i class="fas fa-download"></i>
                                </a>
                                <button type="button" th:data-name="${file.fileName}"
                                        onclick="deleteDocument(this.getAttribute('data-name'))"
                                        class="ui red button">
                                    <i class="fas fa-trash"></i>
                                </button>
                                <form th:action="@{'/storage/' + ${file.id}}" method="post" hidden="hidden">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input type="submit" id="deleteSubmit" hidden="hidden"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/storage.js}" type="text/javascript"></script>
</body>
</html>
